h2{
  text-align: center;
  font-size: 36px;
  margin-top: -25px;
}
.jumbotron{
  height:40px;
  border: 2px solid #cccccc;
  width:75%;
  margin-left: auto;
  margin-right: auto;
}
h4{
  text-align: center;
  font-size: 24px;
}
p{
  text-align: center;
}

.jokeZone{
  text-align: center;
}
.setup{
  font-size: 16px;
  font-weight: bold;
}
.punchline{
  font-size: 14px;
  font-style: italic;
  color: #00aaaa;
}
.display{
  background-color: #eeeeee;
  margin-top:10px;
  width: 50%;
}
